/* CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

html, body {
    width: 100%;
}

body {
    --viewport-padding: 16px;
    display: grid;
    grid-template-columns: 1fr min(42rem, calc(100% - var(--viewport-padding) * 2)) 1fr;
    gap: 0 var(--viewport-padding);
    height: 100dvh;
    /* background-color: #e7eddd; */
    padding: 60px 0;
}

body > * {
    grid-column: 2;
}

main {
    padding: 40px 0;
}

h1, h2, h3 {
    font-family: "Alata", sans-serif;
    line-height: 1.2;
}

p {
    font-family: "Host Grotesk", sans-serif;
    line-height: 1.6;
    padding-bottom: 1.3rem;
}

a {
    text-decoration: none;
    color: #ee4154;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}

.byline {
    font-weight: 300;
    padding: 12px 0;
}

.figure {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid black;
}

.figure-subhead {
    font-size: 0.9rem;
    line-height: 1.1;
    padding-top: 10px;
}

.figure-notes {
    font-weight: 300;
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.1;
    padding-top: 10px;
    padding-bottom: 5px;
}